<div class="container-fluid">
    <div>
        <div class="row">
            <!-- Page content -->
            <div class="col-xs-12">
                <div class="header" id="infoTitle">
                    <img class="logo" src="assets/unicorn-icon.jpg"/>
                </div>
                <div class="col-xs-12 text-center header unselectable">
                    DATIS Employee System
                </div>
                <div class="container-fluid as-languages infograph-image">
                    <!--/row-->
                    <div class="col-sm-12 all-center" style="margin-top:2%">
                        <a href="#/register" class="welcomeBtn third">Get Started!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>